@import "tailwindcss";
@import url("./font.css");

@theme {
  --color-primary: #007855;
  --color-secondary: #ff686b;
  --color-third: #33b1ff;
  --color-dark: #323232;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --text-20: 1.25rem;
  --text-23: 1.4375rem;
  --text-24: 1.5rem;
  --text-23--line-height: 1.6rem;
  --text-24--line-height: 1.75rem;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background: url("../assets/img/backgroundBanner.png") no-repeat center/cover;
  min-height: 100vh;
}

.container {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.radio-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

.radio-wrapper input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #007855;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  box-sizing: border-box;
}

.radio-wrapper input[type="radio"]:checked + .custom-radio::after {
  content: '';
  background-image: url('../assets/icons/redioTrue.svg');
  background-size: 100% 100%;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInEffect 300ms ease-in forwards;
}

@keyframes fadeInEffect {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

